* {
	box-sizing: border-box;
}

body {
	background: #282a36;
	color: #f8f8f2;
	font-family: 'Fira Code', monospace;
	margin: 0;
	padding: 0;
	font-size: 14px;
}

a {
	color: #6272a4;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

code {
	background: #44475a;
	padding: 2px 4px;
	border-radius: 4px;
}

.chat_path {
	padding: 0 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;
}

.chat_path_input{
	width:50%;
}

.current_path_text{
	color: #45a961;
}

h1, h2, h3 {
	color: #6272a4;
	font-family: 'Fira Code', monospace;
}

input,
textarea,
button {
	background: #44475a;
	color: #f8f8f2;
	border: none;
	border-radius: 4px;
	padding: 10px;
	font-family: 'Fira Code', monospace;
	transition: background 0.2s;
}

input:hover,
textarea:hover,
button:hover {
	background: #6272a4;
}

input:focus,
textarea:focus,
button:focus {
	outline: none;
	background: #50525b;
}

input:active,
textarea:active,
button:active,
.confirm.active {
	background: #6272a4;
}

.p_wr {
	display: flex;
	flex-direction: column;
	gap: 20px;
	height: 100%;
	min-height: 800px;
	padding: 20px;
}

.p_wr .l_wr {
	flex: 0 0 100%;
}

.p_wr .l_wr h2 {
	padding: 15px;
}

.p_wr .r_wr {
	flex: 0 0 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.chat_container {
	height: 65vh;
	display: flex;
	flex-direction: column-reverse;
}

.chat_content {
	flex-grow: 1;
	padding: 20px;
	overflow-x: hidden;
}

.chat_content .file_name {
	color: #4d53e5;
}

.chat_form {
	position: relative;
}

.chat_form_wr {
	display: flex;
	flex-direction: column;
	padding: 20px 20px 0 20px;
	position: relative;
}

.chat_form input[type="text"],
.chat_form textarea {
	margin-bottom: 10px;
	width: 100%;
}

.chat_form textarea.prefix_text {
	height: 5vh;
}

.chat_form textarea.chat_message_input {
	height: 13vh;
}

.chat_form button[type="submit"] {
	background: #6272a4;
	color: #f8f8f2;
	border: none;
	border-radius: 4px;
	padding: 10px;
	font-family: 'Fira Code', monospace;
	cursor: pointer;
	transition: background 0.2s;
}

.chat_form button[type="submit"]:hover {
	background: #50525b;
}

.file_list_popup {
	position: absolute;
	bottom: 100%;
	left: 0;
	background: #282a36;
	padding: 20px;
	display: none;
	box-shadow: 1px 1px #50525b;
}

.file_list_popup ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.file_list_popup li {
	padding: 10px;
	border-bottom: 1px solid #44475a;
	cursor: pointer;
	transition: background 0.2s;
}

.file_list_popup li.selected {
	background: #6272a4;
}

#loading-animation {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #f8f8f2;
}

.spinner {
	border: 4px solid rgba(0, 0, 0, 0.1);
	width: 36px;
	height: 36px;
	border-radius: 50%;
	border-left-color: #bd93f9;
	animation: spin 1s ease infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.diff-container {
	display: flex;
	justify-content: space-between;
}

.text-area {
	width: 45%;
	height: 200px;
	padding: 10px;
	border: 1px solid #ccc;
	overflow: auto;
}

.diff-part {
	cursor: pointer;
}

.diff-part.added {
	background-color: #e6ffed;
}

.diff-part.removed {
	background-color: #ffeef0;
}

.added, .removed {
	position: relative;
	cursor: pointer;
	display: block;
	padding: 2px 4px;
	border-radius: 4px;
	transition: box-shadow 0.2s;
}

.added {
	background-color: #3e7a49;
}

.removed {
	background-color: #a86161;
}

.added::after, .removed::after {
	position: absolute;
	top: -5px;
	right: 0;
	content: "";
	visibility: hidden;
	color: white;
	font-size: 150%;
}

.added::after {
	content: "-";
}

.removed::after {
	content: "+";
}

.added:hover, .removed:hover {
	box-shadow: inset 0 0 5px #000;
}

.added:hover::after, .removed:hover::after {
	visibility: visible;
}

.files_list {
	display: flex;
	flex-direction: column;
	padding: 0 15px;
	gap: 5px;
}

.files_dir {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.dir_section_label{
	min-width: 100%;
}

.file_label {
	padding: 3px 20px 3px 3px;
	border-radius: 3px;
	background-color: #45a961;
	cursor: pointer;
	position: relative;
}

.file_label::after {
	content: '×';
	position: absolute;
	top: 50%;
	right: 5px;
	transform: translateY(-50%);
	font-size: 16px;
	cursor: pointer;
}

.one_message, .user_msg {
	margin-bottom: 10px;
	border-radius: 10px;
	padding: 10px;
	border: 1px solid #6272a4;
}

.user_msg {
	border: 1px solid #5996a4;
	margin-left: 15px;
}

.user_msg pre {
	white-space: break-spaces;
}

.code_wrap {
	border-bottom: 1px solid #6272a4;
	padding: 10px 0;
}

/**** msg styles ****/

.pb_smmsg_b {
	position: fixed;
	right: 0;
	top: 75px;
	z-index: 1000;
	max-width: 15%;
	min-width: 240px;
}

.pb_smmsg_w {
	display: block;
	padding: 25px;
	background-color: #fffcb8;
	box-shadow: 0 0 5px 0 #2e343e;
	border-radius: 10px;
	-webkit-animation: change_opacity 0.5s linear;
	-moz-animation: change_opacity 0.5s linear;
	-ms-animation: change_opacity 0.5s linear;
	-o-animation: change_opacity 0.5s linear;
	animation: change_opacity 0.5s linear;
}

.pb_smmsg_w.success_msg {
	background-color: #0ac10a;
	color: #ffffff;
}

.pb_smmsg_w.error_msg {
	background-color: #ff0000;
	color: #ffffff;
}

.pb_smmsg_w.info_msg {
	background-color: #ffee86;
	color: #022146;
}

.pb_smmsg_w.proc_msg {
	background-color: #0088cc;
	color: #ffffff;
}

.pb_smmsg_w.op_0 {
	opacity: 0;
}

.pb_smmsg_w img {
	width: 100%;
}

@media (min-width: 768px) {
	.p_wr {
		flex-direction: row;
	}

	.p_wr .l_wr {
		flex: 0 0 calc(10% - 10px);
	}

	.p_wr .r_wr {
		flex: 0 0 calc(90% - 10px);
	}

	.chat_form_wr {
		flex-direction: row;
	}

	.chat_form input[type="text"],
	.chat_form textarea {
		margin-bottom: 0;
		margin-right: 10px;
	}

	.chat_form textarea.prefix_text {
		height: 5vh;
	}

	.chat_form textarea.chat_message_input {
		height: 13vh;
	}

	.files_dir {
		flex-direction: row;
		flex-wrap: wrap;
	}
}
